.sk-about-avatar {
    margin: 1rem;
    font-size: .5rem;

}

.sk-about-avatar-img {
    margin-bottom: .85rem;
}

.sk-about-avatar-name {
    font-family: $sk-font-family-secondary;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: .1rem;
}