.btn {
    font-family: $sk-font-family-secondary;
}

.btn-sm {
    padding: .2rem .75rem;
    letter-spacing: .15rem;
    font-size: .6rem;
    line-height: 2;
}
.btn-lg {
    padding: .6rem 1.25rem;
    letter-spacing: .125rem;
    font-size: .875rem;
    line-height: 1.2;
}