.sk-hero {
	position: relative;
	background: url('../images/bg/top-bg.jpg') 50% 50% no-repeat;
	background-size: cover;
	margin-bottom: 0;
	&:after {
		@include sk-bg-overlay($sk-black, .4);
	}
}

.sk-hero-content {
	@include sk-relative-zindex;
}

.sk-hero-header {
	margin-bottom: 0.85rem;
	letter-spacing: .55rem;
	text-shadow: 0 2px 0 rgba($sk-gray-900, 1);
	@include media-breakpoint-up(md) {
		font-size: 3.06rem;
	}
}

.sk-hero-subheader {
	margin-bottom: 1rem;
	filter: drop-shadow(0 2px rgba($sk-gray-900, 1));
}