.sk-navigator {
    .nav-link {
        padding: .5rem .75rem;
        color: $gray-900;
        font-family: $sk-font-family-secondary;
        letter-spacing: .05rem;
        line-height: 1.2;
    }
}