.sk-post-item {
    padding-bottom: 40px;
}
.sk-post-item-link {
    margin: 1rem 0;
    color: $sk-gray-900;
}
.sk-post-item-title {
    font-size: 1.571rem;
}
.sk-post-item-more {
    margin-bottom: 40px;
}