// sekcja powitalna
.sk-front-page-welcome {
    padding: 60px 0 70px;
}

// sekcja portfolio
.sk-front-page-portfolio {
    padding: 70px 0 75px;
}
.sk-front-page-portfolio-last {
    margin-top: 29px;
}

// sekcja uslugi
.sk-front-page-services {
    padding: 65px 0 30px;
}

// sekcja aktualnosci
.sk-front-page-blog {
    padding: 65px 0 0;
    .sk-post-box {
        margin-bottom: 75px;
    }
}